<style>
#container {
  position: relative;
}

.head {
  position: relative;
}

.instruction {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  background: #2C3E50;
  color: white;
}

.hint {
  position: relative;
  height: 50px;
  text-align: center;
  background: #18BC9C;
  color: white;
  font-size: 20px;
  padding-top: 10px;
}

.workspace {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 600px; width: 400px;
}
.workspace .background {
  height: 600px;
  width: auto;
  margin-left: 30px;
  display: block;
  float:left;
}
.sel-box {
  position: absolute;
  border:2px dashed transparent;
  padding:10px;
  height: 60px;
  width: 60px;
  top: 270px;
  left: 540px;
  cursor:pointer;
}
.text-box {
  position: absolute;
  border:2px dashed transparent;
  background-color: #000000;
  text-align: center;
  color: yellow;
  font-size: 22px;
  padding:10px;
  height: 45px;
  width: 160px;
  top: 20px;
  left: 195px;
}


</style>
<div id="container">
  <div class="head">
    <div class="instruction" data-msg="instruction">엘리베이터 놀이를 해봐요</div>
    <div class="hint" data-msg="hint">화살표 버튼을 눌러 엘레베이터를 불러봐요!</div>
  </div>
  <div class="workspace">
    <div class="text-box">1</div>
    <div class="sel-box"></div>
    <img class="background" src="img/a1_w2/el_img1.png"/>
  </div>

</div>

<script>
  var hash = location.hash,
      lang = hash.indexOf("lang=en") >= 0 ? "en" : "ko",
      msg = {
        ko: {
          instruction: "엘리베이터 놀이를 해봐요",
          hint: "화살표 버튼을 눌러 엘레베이터를 불러봐요!",
          hint1: "엘리베이터가 왔어요! 안으로 들어가봐요!",
          hint2: "엘리베이터 안으로 들어왔어요! 5층을 눌러봐요!",
          hint3: "엘리베이터가 5층에 도착했어요! 밖으로 나가봐요!",
          success: "성공!"
        },
        en: {
          instruction: "Elevator Practice",
          hint: "Press the button to call the elevator!",
          hint1: "The elevator is here. Go inside.",
          hint2: "Press the fifth floor.",
          hint3: "The elevator arrived on the fifth floor. Go out.",
          success: "Success!"
        }
      };
  var step = 1;
  var audio0 = new Audio('img/a1_w2/el_sound0.mp3');
  var audio1 = new Audio('img/a1_w2/el_sound1.mp3');
  var audio2 = new Audio('img/a1_w2/el_sound2.mp3');
  var audio4 = new Audio('img/a1_w2/walk.mp3');
  var audio5 = new Audio('sound/complete.mp3');
  $("[data-msg]").each(function(idx, el) {
    $(el).text(msg[lang][$(el).data("msg")]);
  });
  $(".sel-box").click(function() {
  	if(step==1){
      audio0.play();
      sleep(1000);
      audio1.play();
      this.style.height = "445px";
      this.style.width = "320px";
      this.style.top = "133px";
      this.style.left = "115px";
      setTimeout( function () {
        $(".hint").text(msg[lang].hint1);
        $(".background").attr("src","img/a1_w2/el_img2.png");
      }, 4500);
      step = 2;
    }else if(step==2){
      audio4.play();
      this.style.height = "50px";
      this.style.width = "50px";
      this.style.top = "270px";
      this.style.left = "530px";
      setTimeout( function () {
        $(".hint").text(msg[lang].hint2);
        $(".background").attr("src","img/a1_w2/el_img3.png");
      }, 1000);
      step = 3;
    }else if(step==3){
      audio0.play();
      sleep(1000);
      $(".background").attr("src","img/a1_w2/el_img4.png");
      audio2.play();
      var i=1;
      var uploop = setInterval(function(){
        if(i<5){
          i++;
          var num = i.toString();
          $(".text-box").text(num);
        }else{
          audio2.pause();
          audio2.currentTime = 0;
          audio1.play();
          setTimeout( function () {
            $(".background").attr("src","img/a1_w2/el_img5.png");
            $(".hint").text(msg[lang].hint3);
          }, 4500);
          step = 4;
          clearInterval(uploop);
        }
      }, 2000);
      this.style.height = "445px";
      this.style.width = "320px";
      this.style.top = "133px";
      this.style.left = "115px";
    }else if(step==4){
      audio4.play();
      setTimeout( function () {
        audio5.play();
        $(".hint").text(msg[lang].success);
        setTimeout( function () {
          alert(msg[lang].success);
          document.location.href = '/a1_w1';
        }, 2000);
        step = 5;
      }, 1000);
    }
  });

  function sleep(num){	//[1/1000초]
	 var now = new Date();
	   var stop = now.getTime() + num;
	   while(true){
		 now = new Date();
		 if(now.getTime() > stop)return;
	   }
	}

</script>
