<style>
#container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
#left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background: red;
}
#right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background: blue;
}
</style>
<!-- Navigation -->
<nav id="navbarMaze" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">KIDSCODING</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li id="runTutorial" class="hidden">
                    <a href="#"><i class="fa fa-question-circle"></i></i> 설명 다시보기</a>
                </li>
                <li id="playstop" class="hidden">
                    <a href="#"><i class="fa fa-play"></i> 배경음악 재생</a>
                </li>
                <!--li class="page-scroll">
                    <a href="#about">문제 만들기</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">문의</a>
                </li-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div id="container">
  <div id="left">
  </div>
  <div id="right">
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex="0"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">키즈코딩</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="close-modal btn btn-default" data-dismiss="modal" tabindex="0"><i class="fa fa-times-circle-o"></i> 닫기</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/components/EaselJS/lib/easeljs-0.8.2.min.js"></script>
