<style>
#container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
#left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background: #e3e3e3;
}
#right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background: #fff;
}
.round-box {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}
#left .round-box {
  background: #fff;
}
#right .round-box {
  background: #e3e3e3;
}

/* 정사각형 박스 만들기 See: https://goo.gl/xF6uQV */
.box {
  position: relative;
  width: 80%; /* 원하는 너비 */
  margin-left: 10%;
  border: 1px solid black;
}
.box:before {
  content: "";
  display: block;
  padding-top: 100%; /* 1:1 비율 */
}
.screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
#right .box {
  width: 60%;
  margin-left: 20%;
}
.camera-box {
  position: relative;
  text-align: right;
  margin: 10px;
}
.play-box {
  position: relative;
  text-align: center;
  margin: 10px;
}
.cam {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: yellow;
}
.guide {
  position: absolute;
  top: 20%;
  left: 20%;
  bottom: 20%;
  right: 20%;
  border: 5px solid #f0ad4e;
}
.img {
  height: 100%;
}
</style>
<!-- Navigation -->
<nav id="navbarMaze" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">KIDSCODING</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/"></a>
                </li>
                <!--li class="page-scroll">
                    <a href="#about">문제 만들기</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">문의</a>
                </li-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div id="container">
  <div id="left">
    <div class="round-box">
      <i class="fa fa-camera" aria-hidden="true"></i>
      네모칸에 캐릭터 그림을 넣고 '촬영하기'를 눌러주세요
    </div>
    <div class="box">
      <div class="screen">
        <div class="cam">
          <video autoplay style="height:100%"></video>
        </div>
        <div class="guide"></div>
      </div>
    </div>
  </div>
  <div id="right">
    <div class="round-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      '촬영하기'를 누르면 캐릭터가 만들어져요
    </div>
    <div class="camera-box">
      <button type="button" class="btn btn-warning camera-button">촬영하기</button>
    </div>
    <div class="box">
      <div class="screen">
        <img class="img" src="">
        <canvas style="display:none;" width="640" height="480"></canvas>
      </div>
    </div>
    <div class="play-box">
      <button type="button" class="btn btn-warning"><i class="fa fa-play" aria-hidden="true"></i> 키즈코딩 시작</button>
    </div>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex="0"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">키즈코딩</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="close-modal btn btn-default" data-dismiss="modal" tabindex="0"><i class="fa fa-times-circle-o"></i> 닫기</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  navigator.getUserMedia  = navigator.getUserMedia ||
                            navigator.webkitGetUserMedia ||
                            navigator.mozGetUserMedia ||
                            navigator.msGetUserMedia;

  var video = document.querySelector('video');
  var canvas = document.querySelector('canvas');
  var ctx = canvas.getContext('2d');
  var localMediaStream = null;
  var videoObj = { "video": true };
	var	errBack = function(error) {
			console.log("Video capture error: ", error.code);
		};

  function snapshot() {
    if (localMediaStream) {
      ctx.drawImage(video, 0, 0);
      // "image/webp" works in Chrome.
      // Other browsers will fall back to image/png.
      var chapture_img = canvas.toDataURL('image/webp');
      document.querySelector('img').src = chapture_img;
    }
  }

  video.addEventListener('click', snapshot, false);
	if(navigator.webkitGetUserMedia) { // WebKit-prefixed
		navigator.webkitGetUserMedia(videoObj, function(stream){
      var URL = window.URL || window.webkitURL;
			video.src = URL.createObjectURL(stream);
			localMediaStream = stream;
		}, errBack);
	} else if(navigator.mozGetUserMedia) { // Firefox-prefixed
		navigator.mozGetUserMedia(videoObj, function(stream){
			video.src = window.URL.createObjectURL(stream);
			localMediaStream = stream;
		}, errBack);
	} else if(navigator.getUserMedia) { // Standard
		navigator.getUserMedia(videoObj, function(stream) {
			video.src = stream;
			localMediaStream = stream;
		}, errBack);
  }
/*
  navigator.getUserMedia({
    video: {
      mandatory: {
        maxWidth: 640,
        maxHeight: 480
      }
    }, audio: false},
    function(stream) {
      video.src = stream;
      localMediaStream = stream;
      // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
      // See crbug.com/110938.
      video.onloadedmetadata = function(e) {
        // Ready to go. Do some stuff.
      };
    },
    function(e) {
      console.log('Reeeejected!', e);
    }
  );*/
</script>
