<script>
if(location.pathname == "/code" && location.hash) {
  location.href = "/code/" + location.hash.slice(1);
}
</script>
<style>
  h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize !important;
  }
  .btn-default {
    margin: 20px;
  }
  .btn-warning {
    margin: 20px;
    width: 200px;
    padding: 10px;
    font-size: 22px;
  }
  .btn-warning.selected {
    background-color: #E53;
  }
  .btn-outline {
     width: 300px;
     height: 60px;
     line-height: 60px;
     display: block;
     margin: 10px auto;
     padding: 0;
  }
  #characters {
    margin-bottom: 50px;
  }
  .character {
    width: 128px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  .character.selected {
    background-color: #E53;
    border: 2px solid yellow;
  }
  h3 {
    margin-bottom: 30px;
  }
  .book-item {
    position: relative;
    line-height: 1;
    height: initial;
    width: 350px;
    overflow: hidden;
    padding: 15px 0 15px 35px;
  }
  .book-idx {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 300px;
    padding: 15px 10px;
    border-right: 1px solid white;
    font-weight: bold;
  }
  .book-0 {
    white-space: normal;
  }
  .book-1 {
    font-size: 14px;
    white-space: normal;
  }
  .star-light {
    margin: 50px auto 30px !important;
  }
</style>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">KIDSTHINKING</span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="check-update" href="#"><i class="fa fa-refresh" aria-hidden="true"></i> <span data-msg="check_update" data-update-status="default" class="check-update-msg"></span></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container" data-view="0">
        <div class="row">
            <div class="col-lg-12">
                <h1 data-msg="welcome">안녕하세요. 키즈씽킹입니다.</h1>
                <h2><span class="school"></span> <span data-msg="school"></span></h2>
                <img class="img-responsive" src="/img/kidsthinking_big.png" alt="">
                <div class="intro-text">
                    <div id="classes">
                    </div>
                    <!--hr class="star-light">
                    <span class="skills">키즈씽킹</span-->
                </div>
            </div>
        </div>
    </div>
    <div class="container" data-view="1">
        <div class="row">
            <div class="col-lg-12">
                <h1 data-msg="login">키즈씽킹 로그인</h1>
                <h2><span class="school"></span> - <span class="className"></span></h2>
                <h3><strong data-msg="login1" style="color:yellow">로그인 스티커</strong><span data-msg="login2">를 확인해주세요.</span></h3>
                <h3 data-msg="select_name">1. 이름을 선택하세요</h3>
                <div id="names">
                </div>
                <h3 data-msg="select_password">2. 비밀캐릭터나 비밀번호를 선택하세요</h3>
                <div id="characters">
                </div>
                <img id="login" src="/img/login/button.png">
            </div>
        </div>
    </div>
    <div class="container" data-view="2">
        <div class="row">
            <div class="col-lg-12">
                <h2><span class="school"></span> - <span class="className"></span></h2>
                <div class="contents">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; (주)토이코드 2015
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="modal-fail" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex="0"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">키즈씽킹</h4>
      </div>
      <div class="modal-body text-center">
        로그인에 실패하였습니다!<br>
        다시 시도해주세요.
      </div>
      <div class="modal-footer">
        <button type="button" class="close-modal btn btn-default" data-dismiss="modal" tabindex="0">확인</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="appcache" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">업데이트</h4>
      </div>
      <div class="modal-body">
        <p class="msg">업데이트중...</p>
        <div class="progress">
          <div class="progress-bar notransition" role="progressbar">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close-modal btn btn-default" data-dismiss="modal" style="display:none">확인</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/page/page.js"></script>
<script src="/js/appcache.js"></script>
<script>
  var code = "<%=code%>";
  var info = <%-typeof info == "undefined" ? "{}" : info%>;
  var sClassName = <%-typeof className == "undefined" ? "null" : '"'+className+'"'%>;
  var isTrial = <%-typeof isTrial=="undefined"?false:true%>;
  var view = 0,
      imgs = [];
  var names, level, books;
  var lang = info ? (info.lang || "ko") : "ko",
      _msg = {
        ko: {
          welcome: "안녕하세요. 키즈씽킹입니다.",
          school: "홈페이지입니다.",
          login: "키즈씽킹 로그인",
          login1: "로그인 스티커",
          login2: "를 확인해주세요.",
          select_name: "1. 이름을 선택하세요",
          select_password: "2. 비밀캐릭터나 비밀번호를 선택하세요",
          kidsthinking: "키즈씽킹",
          error: "원별 접속주소를 확인해주세요.",
          check_update: "업데이트 확인",
          downloading: "새로운 컨텐츠를 다운로드 중입니다.",
          updating: "업데이트 중...",
          update_complete: "업데이트 완료",
          updated: "최신 업데이트 상태",
          failed_to_check: "저장된 컨텐츠에 접근 할 수 없습니다.\n인터넷 연결 확인후 재접속 해주세요.",
          success_to_check: "확인 완료",
          check_cache: "저장된 컨텐츠의 상태를 확인 중입니다.",
          latest_update: "최신 업데이트 상태입니다.",
          current_contents: "현재 컨텐츠는 다음과 같습니다."
        },
        en: {
          welcome: "Welcome to KidsThinking",
          school: "",
          login: "Login",
          login1: "Check your login information.",
          login2: "",
          select_name: "1. Select your name.",
          select_password: "2. Select your password.",
          kidsthinking: "KidsThinking",
          error: "Check your url, Please.",
          check_update: "Check Update",
          downloading: "Downloading new contents...",
          updating: "Updating...",
          update_complete: "Update Complete",
          updated: "Updated",
          failed_to_check: "Unable to access  cached data.\nPlease reconnect after checking internet connection.",
          success_to_check: "Done checking cached data.",
          check_cache: "Checking the status of cached data.",
          latest_update: "The latest update status.",
          current_contents: "The current contents are as follows."
        }
      },
      msg = _msg[lang] || _msg.en;

  $("[data-msg]").each(function(idx, el) {
    $(el).text(msg[$(el).data("msg")]);
  });
  if(code == "" || info == null) {
    $("[data-msg=school]").text(msg.error);
    setTimeout(function() {
      alert("잘못된 경로로 접근하였습니다. 원별 접속 주소를 확인하여 주세요.");
    }, 1);
  } else {
    init();
  }

  function init() {
    var d1 = $.Deferred(),
        d2 = $.Deferred(),
        d3 = $.Deferred();
    $.get("/login/names.json", function(data) {
      names = data;
      d1.resolve();
    });
    $.get("/login/level_pw.json", function(data) {
      level = data;
      d2.resolve();
    });
    $.get("/login/books.json", function(data) {
      books = data;
      d3.resolve();
    });
    $.when( d1, d2, d3 ).done(load);

    $("#names").click('button', function(e) {
      $("#names button").removeClass("selected");
      $(e.target).addClass("selected");
    });
    $("#characters").click('img', function(e) {
      $("#characters img").removeClass("selected");
      $(e.target).addClass("selected");
    });
    $("#login").click(function(e) {
      if($("#characters .selected").length == 0 || $("#names .selected").length == 0) {
        $("#modal-fail").modal('show');
        return;
      }
      var index = $("#names .selected").data("index"),
          img = $("#characters .selected").data("img"),
          classId = info.classes.filter(function(item) {
            return item.className == sClassName;
          })[0].code;
      if(img != imgs[index]) {
        $("#modal-fail").modal('show');
        return;
      }
      store.session.set("user", {
        kinder: info.kinder,
        classId: classId,
        user: "" + index,
        id: info.kinder ? (classId + "," + index) : "anonymous"
      });
      if(location.hash) {
        page(location.hash + "&book=true");
      } else {
        page(location.pathname + "#book=true");
      }
    });
    $(".contents").click("a[rel=\"external\"]", function(e) {
      store.session.set("showbook", location.href);
    });
  }

  function load() {
    page('*', function(ctx, next) {
      var hash = ctx.hash,
          qs = {};
      hash.split("&").forEach(function(str) {
        var token = str.split("=");
        qs[token[0]] = token[1];
      });
      if(ctx.path.slice(0, 6) == "/code/") {
        if(hash == "") {
          view = 0;
          showClass();
        } else if(qs.className && !qs.book) {
          view = 1;
          sClassName = qs.className;
          showLogin();
        } else {
          view = 2;
          sClassName = qs.className;
          showBook();
        }
      } else if(isTrial) {
        if(hash == "") {
          view = 0;
          showClass();
        } else {
          view = 2;
          sClassName = {
            "kidsthinking": "키즈씽킹",
            "kidscoding": "키즈코딩"
          }[hash.split("&")[0]];
          showBook();
        }
      } else {
        if(hash == "") {
          view = 1;
          showLogin();
        } else {
          view = 2;
          showBook();
        }
      }
      $(".school").text(info.school_name || info.school);
      sClassName && $(".className").text(sClassName);
      $("[data-view]").hide();
      $("[data-view=" + view + "]").show();
      $(window).scrollTop(0);
    });
    page({
      hashChange: true
    });
  }

  function showClass() {
    store.session.remove("user");
    $("#classes").empty();
    info.classes.forEach(function(item, i) {
      var book_true = (info.code == "e91d5" || info.code == "c7b46" || info.code == "823b7" || info.code == "8244f" || info.code == "822d8" || info.code == "691a0" || info.code == "36904") ? "&book=true" : "";
      if(isTrial) {
        var link = {
          "키즈씽킹": "kidsthinking",
          "키즈코딩": "kidscoding"
        }[item.className];
        $('<a href="#' + link + book_true + '" class="btn btn-lg btn-default">' + item.className + '</a>').appendTo("#classes");
        return;
      }
      $('<a href="#className=' + item.className + book_true + '" class="btn btn-lg btn-default">' + item.className + '</a>').appendTo("#classes");
    });
  }

  function showLogin() {
    store.session.remove("user");
    var yearmonth = info.date,
        classInfo = info.classes.filter(function(obj) {
          return obj.className == sClassName;
        })[0],
        books = classInfo.book.split(","),
        levelLogin = classInfo.level,
        classObj = info.logins && info.logins.filter(function(obj) {
          return obj.className == sClassName;
        })[0],
        sel_names = null,
        sel_levels = null;

    // 각 반별로 세팅된 level에 해당하는 book 중에서 리뉴얼 버전이 있으면 login도 리뉴얼 버전으로 함
    books.forEach(function(bookName) {
      if(bookName.slice(0, 1) == levelLogin && bookName.slice(-3) == "-re" && Object.keys(level).indexOf(levelLogin + "-re") >= 0) {
        levelLogin += "-re";
      }
    });

    $("#names,#characters").empty();

    if(classObj && classObj.students && classObj.students.length > 0) {
      sel_names = classObj.students;
    } else if(names[info.school + "-" + sClassName]) {
      sel_names = names[info.school + "-" + sClassName]
    } else {
      sel_names = names["default"];
    }

    sel_names.forEach(function(name, index) {
      var button = '<button data-index="'+index+'" class="btn btn-lg btn-warning">' + (index+1) + " : " + ($.isArray(name) ? name[1] : name) + '</button>';
      $(button).appendTo("#names");
    });

    sel_levels = level[levelLogin] || level["default"];
    sel_levels.forEach(function(level_pw, index) {
      var img = '<img class="character" data-img="'+(index+1)+'" src="'+level_pw+'"/>';
      $(img).appendTo("#characters");
    });
    imgs = getImgs(yearmonth, code, sClassName, sel_levels);
  }

  function showBook() {
    $(".contents").empty();
    var book_titles = info.classes.reduce(function(acc, cur) {
          if(cur.className==sClassName) {
            [].push.apply(acc, cur.book.split(","));
          }
          return acc;
        }, []);
    book_titles.forEach(function(book_title) {
      $(".contents")
          .append('<hr class="star-light">')
          .append('<h3><span data-msg="kidsthinking">' + msg.kidsthinking + '</span> <span class="book">' + book_title + '</span></h3>');
      var lang_str = info.lang ? "lang=" + info.lang : "";
      books[book_title].forEach(function(item, idx) {
        var isEnTitle = (info.lang == "en" || info.lang == "cn" || info.lang == "jp") && item.length == 3,
            title = isEnTitle ? item[1] : item[0],
            link = item[item.length - 1],
            conn = link.indexOf("#!") >= 0 ? "?" : "#",
            $el = $('<a class="btn btn-lg btn-outline book-item" rel="external">').appendTo(".contents");
        $el.attr("href", link + (lang_str ? conn + lang_str : ""));
        $el.append('<div class="book-idx">' + (idx+1) + '</div>');
        if(title.indexOf(":") >= 0) {
          title.split(":").forEach(function(text, i) {
            if(i != 0) {
              $el.append('<br/>');
            }
            $el.append('<span class="book-' + i + '">' + text + '</span>');
          });
        } else {
          $el.append('<span class="book-0">' + title + '</span>');
        }
      });
    });
  }

  function sendData() {
    var keys = store.keys().filter(function(item) {
          return item != "contents" && item != "manifest";
        }),
        docs = [];
    keys.forEach(function(key) {
      var contents = store.get(key).data,
          tokens = key.split(/[,.]/),
          ids = tokens[0].split("-"),
          preset = {
            parentId: ids[0],
            kinder: ids[0] + "-" + ids[1],
            classId: tokens[0],
            userId: tokens[1],
            chapter: tokens[2]
          };
      if(!contents) {
        return;
      }
      Object.keys(contents).forEach(function(problem) {
        var content = contents[problem],
            doc = Object.assign({
              problem: problem,
              failed: content.failed,
              score: content.score,
              duration: content.duration,
              block: content.block,
              success: content.success,
              date: content.date
            }, preset);
        docs.push(doc);
      });
    });
    if(docs.length == 0) {
      return;
    }
    $.ajax({
      url: "/reports",
      method: "POST",
      cache: false,
      timeout: 1000,
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify(docs),
      success: function(result) {
        var contents = store.get("contents") || "";
        contents = contents.split(",").map(function(item) {
          return item.split("-").join("").toLowerCase();
        });
        keys.forEach(function(key) {
          var content = key.split(/[,.]/)[2].split("_")[0];
          if(contents.indexOf(content) >= 0) {
            var item = store.get(key);
            item.data = {};
            store.set(key, item);
          } else {
            store.remove(key);
          }
        });
        if(info.kinder.slice(0, 6) == "C00071") {
          alert("사용자 데이터 전송 완료");
        }
      },
      error: function(e) {
        console.log("데이터 전송 실패")
      }
    });
  }
  sendData();

</script>
