<style>
#container {
  position: relative;
}

.head {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  background: #2C3E50;
  color: white;
}

.workspace {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}

</style>
<div id="container">
  <div class="head">
  </div>
  <div class="workspace"></div>
</div>

<script>


</script>
