<!doctype html>
<% if(typeof manifest !== 'undefined') { %>
<html lang="ko" manifest="/cache.manifest">
<% } else { %>
<html lang="ko">
<% } %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title><%- title %></title>
  <link rel="stylesheet" href="/components/jquery-ui/themes/base/jquery-ui.min.css">
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">

  <!-- startbootstrap-freelancer -->
  <link rel="stylesheet" href="/css/freelancer.css">
  <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!--link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"-->
  <!--link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"-->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/css/style.css">

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/jquery-ui/jquery-ui.min.js"></script>
  <script src="/components/store/store.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/freelancer.js"></script>
  <script src="/js/appcache.js"></script>
  <script src="/js/auth.js"></script>
</head>
<body class="index">
  <%- body %>
  <div id="appcache" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">키즈코딩 업데이트</h4>
        </div>
        <div class="modal-body">
          <p class="msg">업데이트중...</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" style="display:none">확인</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<script type='text/javascript' id="__bs_script__">//<![CDATA[
  document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.2.11.0.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
