<!doctype html>
<% if(typeof manifest !== 'undefined') { %>
<html lang="ko" manifest="/cache/<%= manifest %>.manifest">
<% } else { %>
<html lang="ko">
<% } %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title><%- locals.title ? title : "" %></title>
  <link rel="stylesheet" href="/components/jquery-ui/themes/base/jquery-ui.min.css">
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">



  <link rel="manifest" href="/manifest.json">
  <% if(typeof manifest !== 'undefined') { %>
  <meta name="msapplication-starturl" content="/code/<%=manifest%>">
  <% } %>
  <link rel="icon" type="image/png" sizes="192x192" href="/img/homescreen192x192.png"> <!--주소창 이미지-->
  <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/img/homescreen192x192.png"> <!--사파리에서 저장할 때 -->
  <meta name="msapplication-navbutton-color" content="#18bc9c">
  <meta name="apple-mobile-web-app-title" content="키즈씽킹">
  <meta name="application-name" content="키즈씽킹">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- startbootstrap-freelancer -->
  <link rel="stylesheet" href="/css/freelancer.css">
  <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!--link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"-->
  <!--link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"-->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/css/style.css">
  <script src="/components/es6-shim/es6-shim.min.js"></script>
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/jquery-ui/jquery-ui.min.js"></script>
  <script src="/components/store2/dist/store2.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/components/tui-code-snippet/dist/tui-code-snippet.min.js"></script>
  <script src="/components/ua-parser-js/dist/ua-parser.min.js"></script>
  <script src="/components/tui-app-loader/dist/tui-app-loader.min.js"></script>
  <script src="/js/auth.js"></script>
</head>
<body class="index">
  <%- body %>
</body>
</html>
