<style>
  .btn-warning {
    margin: 20px;
    width: 130px;
    padding: 10px;
  }
  .btn-warning.selected {
    background-color: #E53;
  }
  #characters {
    margin-bottom: 50px;
  }
  .character {
    width: 128px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  .character.selected {
    background-color: #E53;
    border: 2px solid yellow;
  }
  h3 {
    margin-bottom: 50px;
  }
</style>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="/">KIDSCODING</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>키즈코딩 로그인</h1>
                <h2><span id="school"></span> - <span id="className"></span></h2>
                <h3><strong style="color:yellow">로그인 스티커</strong>를 확인해주세요.</h3>
                <h3>1. 이름을 선택하세요</h3>
                <div id="names">
                </div>
                <h3>2. 자신의 캐릭터를 선택하세요</h3>
                <div id="characters">
                  <img class="character" src="img/login/01.png" data-img="01"/>
                  <img class="character" src="img/login/02.png" data-img="02"/>
                  <img class="character" src="img/login/03.png" data-img="03"/>
                  <img class="character" src="img/login/04.png" data-img="04"/>
                  <img class="character" src="img/login/05.png" data-img="05"/>
                  <img class="character" src="img/login/06.png" data-img="06"/>
                  <img class="character" src="img/login/07.png" data-img="07"/>
                  <img class="character" src="img/login/08.png" data-img="08"/>
                  <img class="character" src="img/login/09.png" data-img="09"/>
                  <img class="character" src="img/login/10.png" data-img="10"/>
                  <img class="character" src="img/login/11.png" data-img="11"/>
                  <img class="character" src="img/login/12.png" data-img="12"/>
                  <img class="character" src="img/login/13.png" data-img="13"/>
                </div>
                <button id="login" class="btn btn-lg btn-outline" style="width:140px;height:60px">로그인</button>
            </div>
        </div>
    </div>
</header>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; (주)토이코드 2015
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="/">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<div id="modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex="0"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">키즈코딩</h4>
      </div>
      <div class="modal-body text-center">
        <img class="character" />
        로그인에 성공하였습니다!
      </div>
      <div class="modal-footer">
        <a id="goNext" href="#" class="close-modal btn btn-default" tabindex="0">확인</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-fail" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex="0"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">키즈코딩</h4>
      </div>
      <div class="modal-body text-center">
        로그인에 실패하였습니다!<br>
        다시 시도해주세요.
      </div>
      <div class="modal-footer">
        <button type="button" class="close-modal btn btn-default" data-dismiss="modal" tabindex="0">확인</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(function() {
    var d1 = $.Deferred(),
        d2 = $.Deferred();
    $.get("login/url.json", function(url) {
      var hash = decodeURI(location.hash).slice(1),
          code = hash.split("-")[0],
          className = hash.split("-")[1],
          info = url.filter(function(item) {
            return item.code == code
          })[0];
      if(!info) {
        alert("잘못된 경로로 접근하였습니다.");
        location.href = "/";
      }
      $("#school").text(info.school);
      $("#className").text(className);
      d1.resolve(info);
    });
    $.get("login/names.json", function(names) {
      d2.resolve(names);
    });
    $("#names").click('button', function(e) {
      $("#names button").removeClass("selected");
      $(e.target).addClass("selected");
    });
    $("#characters").click('img', function(e) {
      $("#characters img").removeClass("selected");
      $(e.target).addClass("selected");
    });
    $.when(d1, d2).done(function(info, names) {
      var hash = decodeURI(location.hash).slice(1),
          code = hash.split("-")[0],
          className = hash.split("-")[1],
          kids = (hash.split("-")[2] || "") == "kids",
          yearmonth = info.date,
          imgs = getImgs(yearmonth, code, className);

      if(names[info.school + "-" + className]) {
        names = names[info.school + "-" + className]
      } else {
        names = names["default"];
      }

      names.forEach(function(name, index) {
        var button = '<button data-index="'+index+'" class="btn btn-lg btn-warning">' + (index+1) + " : " + ($.isArray(name) ? name[1] : name) + '</button>';
        $(button).appendTo("#names");
      });

      $("#login").click(function(e) {
        if($("#characters .selected").length == 0 || $("#names .selected").length == 0) {
          $("#modal-fail").modal('show');
          return;
        }
        var index = $("#names .selected").data("index"),
            img = $("#characters .selected").data("img");
        if(img != imgs[index]) {
          $("#modal-fail").modal('show');
          return;
        }
        var src = $("#characters .selected").attr("src");
        $("#modal img").attr("src", src);
        $("#modal").modal('show');
      });
      $("#goNext").click(function(e) {
        e.preventDefault();
        var book = Object.keys(info.classes).filter(function(item) {
          return info.classes[item].indexOf(className) >= 0;
        });
        if(kids) {
          location.href = "book#02080-가정심화학습-가정심화학습";
        } else {
          location.href = "book#" + code + "-" + className + "-" + book[0];
        }
      });
    });
  });
</script>
