<link href="/css/signin.css" rel="stylesheet">
<div class="container">

  <form class="form-signin" action="/api/login" method="post">
    <h2 class="form-signin-heading">키즈코딩 가정학습 <sup style="color:#27D27B">beta</sup></h2>
    <label for="email" class="sr-only">이메일</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="password" class="sr-only">비밀번호</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
  </form>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->
