<form class="form-horizontal" action="/createTempUser" method="post">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">성명</label>
  <div class="col-md-4">
    <input id="name" name="name" type="text" placeholder="이름을 입력해주세요" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">이메일</label>
  <div class="col-md-4">
    <input id="email" name="email" type="text" placeholder="이메일주소" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">비밀번호</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="비밀번호" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password-confirm">비밀번호 확인</label>
  <div class="col-md-4">
    <input id="password-confirm" name="password-confirm" type="password" placeholder="비밀번호 확인" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="code">원 선택</label>
  <div class="col-md-4">
    <select id="code" name="code" class="form-control input-md">
      <option value="">== 원 선택 ==</option>
      <option value="3c2c0-데모유치원">데모유치원</option>

    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="className">반 선택</label>
  <div class="col-md-4">
    <select id="className" name="className" class="form-control input-md">
      <option value="">== 반 선택 ==</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">가입</button>
  </div>
</div>

</fieldset>
</form>
<script>
$("#code").change(function(e) {
  var code = $(e.target).val();
  var options = ["== 반 선택 =="];
  if(code.slice(0, 5) == "3c2c0") {
    // 이레유치원
    options.push("백옥반", "진주반", "실버반");
  } 
  $("#className").html("");
  options.forEach(function(item) {
    $("#className").append("<option>" + item + "</option>");
  });
});
</script>
