<form class="form-horizontal" action="/createTempUser" method="post">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">성명</label>
  <div class="col-md-4">
    <input id="name" name="name" type="text" placeholder="이름을 입력해주세요" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">이메일</label>
  <div class="col-md-4">
    <input id="email" name="email" type="text" placeholder="이메일주소" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">비밀번호</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="비밀번호" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password-confirm">비밀번호 확인</label>
  <div class="col-md-4">
    <input id="password-confirm" name="password-confirm" type="password" placeholder="비밀번호 확인" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="code">원 선택</label>
  <div class="col-md-4">
    <select id="code" name="code" class="form-control input-md">
      <option value="">== 원 선택 ==</option>
      <option value="3c2c0-이레유치원">이레유치원</option>
      <option value="1e1e2-경희과학자연유치원">경희과학자연유치원</option>
      <option value="2b36c-와튼킨디엘리">와튼킨디엘리</option>
      <option value="323e6-러닝서초어학학원">러닝서초어학학원</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="className">반 선택</label>
  <div class="col-md-4">
    <select id="className" name="className" class="form-control input-md">
      <option value="">== 반 선택 ==</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">가입</button>
  </div>
</div>

</fieldset>
</form>
<script>
$("#code").change(function(e) {
  var code = $(e.target).val();
  var options = ["== 반 선택 =="];
  if(code.slice(0, 5) == "3c2c0") {
    // 이레유치원
    options.push("백옥반", "진주반", "실버반");
   }  else if(code.slice(0, 5) == "1e1e2") {
   // 경희유치원
     options.push("슈바이처", "다윈");
   } else if(code.slice(0, 5) == "323e6") {
     // 서초러닝트리
     options.push("Afterschool 코딩반");
   } else if(code.slice(0, 5) == "2b36c") {
     // 와튼킨디엘리
     options.push("Purple", "Navy");
   }
  $("#className").html("");
  options.forEach(function(item) {
    $("#className").append("<option>" + item + "</option>");
  });
});
</script>
